[Unit]
Description=Dell laptop thermal monitoring
Documentation=man:dell-fan-mon

[Service]
ExecStart=/usr/bin/dell-fan-mon

[Install]
WantedBy=multi-user.target
